<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SampleClass2020</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/MyStyleSheet.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>SampleClass2020</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-auto">
                            <div class="auth-menu">
                                @if (!signInManager.IsSignedIn(User))
                                {
                                    <div class="auth-btns">
                                        <a asp-action="signup" asp-controller="Account" class="btn btn-outline-primary" style="border:2px solid">Sign Up</a>
                                        <a asp-action="login" asp-controller="Account" class="btn btn-primary">Login</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="sub-menu-cover">
                                        <div class="d-flex align-items-center">
                                            <div class="mr-1 border img-thumbnail-cover">
                                                <img src="@userManager.GetUserAsync(User).Result.Photo" style="width:100%" asp-append-version="true"/>
                                            </div>
                                            <div>@userManager.GetUserAsync(User).Result.LastName</div>
                                        </div>
                                        <div class="sub-menu border p-2">
                                            <div><a asp-action="Dashboard" asp-controller="Administration">Profile</a></div>
                                            <div class="text-danger"><a asp-action="Logout" asp-controller="Account" class="text-danger">Logout</a></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SampleClass2020 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
